<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /web-kumpulan-berita2/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /web-kumpulan-berita2/index.html [L]
</IfModule>
